/* You can customize theme styles here */
.header .navbar-brand span:first-child{
    color: #a27eab;
}
.header .container{
    padding-left: 10px;
}

html body ::selection{
    background-color:#755985;color:#fff
}

a {
    color: #755985;
    background-color: transparent;
}
a:hover {
    color: #442b63;
}

.rad-showcase h1.display-1 span {
    font-size: 0.45em;
    font-weight: 400;
    opacity: 0.75;
}

